body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin: 0;
    text-align: center;
    background-image: url(https://images.pexels.com/photos/5632407/pexels-photo-5632407.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  }
  
  .header,
  .header2 {
    text-align: center;
    padding: 5px 0px;
    background: rgb(43, 93, 97);
    background: linear-gradient(
      90deg,
      rgba(43, 93, 97, 1) 0%,
      rgba(23, 73, 77, 1) 50%,
      rgba(3, 53, 57, 1) 100%
    );
    color: #fff;
    width: 100%;
    margin: 0;
    border-bottom: 4px solid #00a656;
  }
  
  .header2 {
    display: flex;
    align-items: center; /* Vertically center items */
    justify-content: space-between; /* Align items at the start and end of the container */
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .header2 h1 {
    flex: 1;
    text-align: center; /* Center-align the heading */
  }
  
  svg {
    border-radius: 25px;
    height: 1;
    transition: background-color 0.3s ease;
  }
  
  svg:hover {
    background-color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
  
  h1 {
    text-align: center;
    text-transform: uppercase;
  }
  
  .container {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-top: 20px;
    height: 100%;
    min-height: 75vh;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
  button {
    font-weight: bold;
    margin: 20px auto;
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 5px;
    font-weight: 650px;
  }
  
  #addButton {
    background: rgb(43, 93, 97);
    background: linear-gradient(
      90deg,
      rgba(43, 93, 97, 1) 0%,
      rgba(23, 73, 77, 1) 50%,
      rgba(3, 53, 57, 1) 100%
    );
    
  }
  
  #addButton:hover {
    background: rgb(40, 206, 126);
    background: linear-gradient(
      90deg,
      rgba(40, 206, 126, 1) 0%,
      rgba(20, 186, 106, 1) 50%,
      rgba(0, 166, 86, 1) 100%
    );
  }
  
  #add,
  #save {
    background: rgb(50, 205, 50);
    background: linear-gradient(
      90deg,
      rgba(50, 205, 50, 1) 0%,
      rgba(40, 185, 40, 1) 50%,
      rgba(30, 165, 30, 1) 100%
    );
  }
  
  #add:hover,
  #save:hover {
    background: rgb(43, 93, 97);
    background: linear-gradient(
      90deg,
      rgba(43, 93, 97, 1) 0%,
      rgba(23, 73, 77, 1) 50%,
      rgba(3, 53, 57, 1) 100%
    );
  }
  
  #delete {
    background: rgb(240, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(240, 0, 0, 1) 0%,
      rgba(220, 0, 0, 1) 50%,
      rgba(200, 0, 0, 1) 100%
    );
  }
  
  #delete:hover {
    background: rgb(220, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(220, 0, 0, 1) 0%,
      rgba(200, 0, 0, 1) 50%,
      rgba(180, 0, 0, 1) 100%
    );
  }
  
  #edit {
    background: rgb(40, 206, 126);
    background: linear-gradient(
      90deg,
      rgba(40, 206, 126, 1) 0%,
      rgba(20, 186, 106, 1) 50%,
      rgba(0, 166, 86, 1) 100%
    );
    color: #fff;
  }
  
  #edit:hover {
    background: rgb(43, 93, 97);
    background: linear-gradient(
      90deg,
      rgba(43, 93, 97, 1) 0%,
      rgba(23, 73, 77, 1) 50%,
      rgba(3, 53, 57, 1) 100%
    );
  }
  
  #edit,
  #delete {
    margin: 0;
    width: 68px;
  }
  
  form {
    width: 60%;
    max-width: 500px;
    margin: 20px auto -10px;
    padding-bottom: 2em;
  }
  
  label {
    display: block;
    margin: 0.5rem 0;
    text-align: left;
    padding-top: 10px;
    font-weight: bold;
  }
  
  input {
    margin: 0 0 0 0;
    width: 100%;
    min-height: 2em;
    background-color: #f1f2f2;
    border: 1px solid #f1f2f2;
    color: #000;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  input:focus {
    outline: none;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.15);
  }
  
  input:hover {
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.15);
  }
  
  input[type="file"] {
    padding: 1px 2px;
  }
  
  #customers-list {
    text-align: center;
    margin: 20px auto;
    width: 30%;
    min-width: 150px;
  }
  
  .customercard {
    background-color: #f8f9f9;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -7.5px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    min-width: 100%;
    color: #17494d;
    padding: 10px;
    border-bottom: 4px solid #00a656;
  }
  
  img {
    display: block;
    padding: 10px;
    width: 150px;
    height: 150px;
    max-width: 80%;
    max-height: 100%;
    margin: 0 auto;
  }
  
  .scaleUp {
    transform: scale(2);
  }
  