body {
    width: 100%;
    margin: 0;
    background-color: #DBE2E9;
    color: #DBE2E9;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .form-body {
    background-color: #222222;
    width: 85%;
    margin: 20px auto;
    height: 85vh;
    padding: 20px;
    border: solid 5px #008080;
  }
  
  
  form {
    width: 80vw;
    min-width: 300px;
    margin: 0 auto;
    padding-left: 80px;
  }
  
  h1 , p {
    text-align: center;}
  
  input[type = text], textarea {
    color: #DBE2E9;
    margin: 0 auto;
    height: 2em;
    font-size: 15px;
    background-color: #3b3b4f;
    border: solid 5px #008080;
    width: 79%;
    padding-left: 5px;
    text-align: center;
  }


::placeholder {
  color: #DBE2E9;
}  
 
  .inline {
    display: inline;
    vertical-align: middle;
  }
  
  fieldset {
    border: none;
  }
  
  textarea {
    width: 100%;
  }
  
  .addButton {
    border: solid 5px #008080;
    color: #DBE2E9;
    width: 42px;
    font-weight: bold;
    margin: 0px auto;
    height: 42px;
    font-size: 30px;
    background-color: #3b3b4f;
  }

  .removeButton {
    background-color: #3b3b4f;
    position: absolute;
    margin-top: -10px;
    right: 230px;
    height: 25px;
    width: 25px;
    border: solid 5px #008080;
    color: #DBE2E9;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 5px;
  }

  li {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .done {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .edit-list, .doneButton, .save-list {
    color: #DBE2E9;
    margin: 0 auto;
    height: 2em;
    font-size: 15px;
    background-color: #3b3b4f;
    border: solid 5px #008080;
    width: 85.25%;
    padding-left: 5px;
  }  
  
  ul {
    list-style: none;
  }
  
  
  

